<div id="siwSummary_tpl" data-ng-repeat="post in collection">
    <div id="siwSummary" class="form-group">
        <div id="siwSummary_heading">
            <h1 id="siwSummary_title" class="page-header">
                <a id="siwSummary_link" data-ng-bind-html="post.title" data-ng-href="{{post.link}}"></a>
            </h1>
        </div>
        <div id="siwSummary_body">
            <div class="form-group">
                <div id="siwSummary_excerpt" class='lead' data-ng-bind-html="post.excerpt"></div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-1">
                        <label class="text-left">Author</label>
                    </div>
                    <div class="col-sm-2">
                        <p id="siwSummary_author" class="text-left" data-siw-author author={{post.author}}/>
                    </div>
                    <div class="col-sm-1">
                        <label class="text-left">Posted</label>
                    </div>
                    <div class="col-sm-2">
                        <p id="siwSummary_postdate" class="text-left"
                           data-ng-bind-html="post.published_date | date: 'short'"></p>
                    </div>
                    <div class="col-sm-1">
                        <label class="text-left">Modified</label>
                    </div>
                    <div class="col-sm-2">
                        <p id="siwSummary_modifieddate" class="text-left"
                           data-ng-bind-html="post.modified_date | date: 'short'"></p>
                    </div>
                    <div class="col-sm-1">
                        <label class="text-left">Tags & Categories</label>
                    </div>
                    <div class="col-sm-2">
                        <p id="siwSummary_tags" class="text-left" data-ng-repeat="pTag in post.tags" data-siw-tag tag={{pTag}}></p>
                        <p id="siwSummary_categories" class="text-left" data-ng-repeat="pCategory in post.categories" data-siw-category category={{pCategory}}></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <label class="text-left">Featured Image</label>
                    </div>
                    <div class="col-sm-2">
                        <div class='featured_image' id="siwSummary_featured_image" class="text-left" data-siw-media media-id={{post.featured_media_id}}></div>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-1">
                        <label class="text-left">Comments</label>
                    </div>
                    <div class="col-sm-2">
                        <p id="siwSummary_comments" class="text-left" data-siw-comment postid={{post.id}}></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
